<% content_for :title, "New movie" %>

<h1 style="font-size: 40px; color: #AA8833">New movie</h1>

<%= render "form", movie: @movie, sort: params[:sort], direction: params[:direction] %>
<br>
<hr>

<div style="text-align: center; padding: 10px 0; font-size: 40px; text-align: center;">
  <%= link_to "Back to movies", movies_path(sort: params[:sort], direction: params[:direction]), style: "color: #A0AA00; font-size: 30px" %>
</div>